.hidden {
    display: none;
}

img, embed, object, video {
    max-width: 100%;
}

html {
    box-sizing: border-box;
}

*,*::before, *::after {
    box-sizing: inherit;
}

a { 
    text-decoration: none;
    transition: all .1s linear;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.container {
	margin:0 auto;
	padding: 0;
	border-bottom: 3px solid #9BB53E;
}

.boxContainer{
	max-width: 998px ;
	margin: 0 auto;
	padding: 0 8px;
}
/* Nav */
#topMenu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	padding: 20px 8px;
}


#burgerCon.slideToggle {
	display: block;
}

.mainNavigation button {
	background: url(../images/burger.svg) center no-repeat;
	border: 0px;
	width: 20px;
	height: 20px;
	padding: 0px;
	margin: 0;
	transition: all .1s ease;
}
.mainNavigation button.expanded {
	transform: rotate(90deg);
}
.mainNavigation button:hover {
	background: url(../images/burger.svg) center no-repeat;
	border: 0px;
	width: 20px;
	height: 20px;
	padding: 0px;
	margin: 0;
	transition: all .1s ease;
}
	
#burgerCon li {
padding: 0;
margin: 0;
}

#burgerCon li a {
	display: block;
	text-align: right;
	font-size: 30px;
	color: #000 ;
	border-top-left-radius: 50px;
	font-weight: bold;
	padding: 10px 0px;
	transition: all .1s ease;
}

#burgerCon li a:hover {
	display: block;
	text-align: right;
	background-color: #E96A97;
	font-size: 30px;
	color: #fff;
	border-top-left-radius: 50px;
	font-weight: bold;
	padding: 10px 0px;
	transition: all .1s ease;
}
#burgerCon {
	padding-top: 10px;
	padding-bottom: 10px;
	display: none;
}
//logo
.LogoImage {
    margin-bottom: 10px;
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

//home main video

#homeCon {
	max-width: 998px;
	padding: 0 8px;
	margin: 0 auto;
}

#homeCon video {
	text-decoration: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid #9BB53E;
	border-radius: 10px;
}

.mainVideoCon {
	padding: 0px 8px;
	margin: 0 auto;
	margin-bottom: 20px ;
}
// main Image
.greenCon{
	margin: 0 auto;
	padding: 0px;

}
.greenCil {
	width: 355px;
	height: 260px;
	background: url(../images/mainImg.svg) center no-repeat;
	border: 0px;
	padding: 0;
	margin: 0;
	text-align: center;
	margin-bottom: 20px ;
	margin-top: 20px;
}

.mainTitle {
	margin: 0;
	position: relative ;
	top: 60px;
	left: 110px;
	width: 130px;
	padding: 10px ;
    color: #fff;
	font-family: 'cochin';
	font-size: 24px;
	font-weight: bold;
	text-align: left;
    border-bottom: 1px solid #fff;
}

.role {
	color: #fff;
	font-family: 'cochin';
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	padding-top: 65px;
}

.goto {
	display: flex;
	justify-content: right;
	margin-bottom: 15px;
	padding: 0px 8px;
	cursor: pointer;
}

// footer

#footerOutbox {
	margin: 0 auto;
	background-color: #9BB53E;
	height: 50px;

}

#author {
	color: #fff;
	text-align: center;
	padding-top: 20px ;
}


// about page

.aboutCon {
	max-width: 998px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 auto;
	margin-top: 20px;
	padding: 0 8px;
}

.introduce {
   margin: 0;
   padding: 0;
   max-width: 600px;
   line-height: 25px;
}

.introduce p{
	padding: 0px;
	margin-bottom: 40px;
}


// go to top
.gotoTop {
	display: flex;
	justify-content: center;
	margin-bottom: 15px;
	margin-top: 50px ;
	padding: 0;
	cursor: pointer;
}
//contact form
input[type=text] {
    border: 2px solid #E96A97;
    width: 100%;
	border-radius: 10px ;
    margin-bottom: 10px;
    font-size: 16px;
	padding: 20px;
	font-family: 'Times New Roman', Times, serif;
}

input[type=email] {
	border: 2px solid #E96A97;
    width: 100%;
	border-radius: 10px ;
    margin-bottom: 10px;
    font-size: 16px;
	padding: 20px;	font-family: 'Times New Roman', Times, serif;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 25px;
    box-sizing: border-box;
    border: 2px solid #E96A97;
    border-radius: 10px;
    resize:none;
    margin-bottom: 10px;
	font-family: 'Times New Roman', Times, serif;
	font-size: 16px;
}

.submit {
    transition-duration: 0.4s;
    background-color: #fff;
    border: 2px solid #E96A97;
    width: 150px;
    padding: 12px 20px;
    cursor: pointer;
	font-family: "cochin";
	font-size: 20px ;
	border-radius: 10px ;
}
.submit:hover {
    background-color: #E96A97;
    border: 2px solid #E96A97;
	font-family: "cochin";
	color: #fff;
	font-size: 20px ;
	border-radius: 10px ;
}
.submit-wrapper {
	margin: 0 auto;
	padding: 0;
}

form {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0;
}

.mail-header {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 20px;
}

.contactCon {
	max-width: 998px;
	padding: 0 8px;
	margin: 0 auto;
}

.des {
    margin-bottom: 20px;
    text-align: center;
    line-height: 20px;
}

.formCon{
	max-width: 660px;
	margin: 0 auto;
	padding: 0;
}
//portfolio
#portBicCon {
	max-width: 998px;
	margin: 0 auto;
	padding: 0 8px;
}

.portTitle {
	font-size: 30px;
	font-weight: bold;
	font-family: "cochin";
	text-align: center;
	margin-bottom: 20px;
	margin-top: 40px;
	padding: 0px;
}
.portContents {
	text-align: center;
	line-height: 24px;
}

.workpanel {
margin: 0 auto;
padding: 0px;
}


.portfolioCon {
	margin-top: 20px;
	margin: 0 auto;
	padding: 0px;
}
//add1
.portCon{
	margin-right: 20px;
	padding: 20px;
}

.portCon img {
	border-radius: 50%;
}