@media screen and (min-width:400px){
	.greenCil {
		width: 580px;
		height: 423px;
		margin-top: 20px;
	}
	.mainTitle {
	top: 110px;
	left: 190px;
	width: 200px;
	padding: 10px ;
	font-size: 40px;

	}
	.role {
		font-size: 20px;
		padding-top: 115px;
	}
}

@media screen and (min-width:600px)
{
	.boxContainer{
		display: grid;
		grid-template-columns: repeat(6, minmax(0, 1fr));
		grid-column-gap: 16px;
		margin-bottom: 20px;
	}
	.LogoImage {
		order: -1;
		grid-column: 1/2;
		margin-top: 20px;
	}
	.mainNavigation {
		grid-column: 2/-1;
		margin-top: 60px;
		margin-left: 90px;
	}
	#topMenu img {
		display: none;
	}
	#topMenu h2 {
	   display: none;
   }
   #topMenu {
	   margin: 0px;
	   padding: 0;
   }
	.greenCil {
		width: 990px;
		height: 722px;
		margin-top: 40px;
	}
	.mainTitle {
	top: 225px;
	left: 350px;
	width: 300px;
	padding: 10px ;
	font-size: 60px;
	}

	.role {
		font-size: 30px;
		padding-top: 230px;
	}
}