.workpanel {
    display: inline-block;
    margin: 0 auto;
    max-width: 998px;
    padding: 0;
    margin-top: 20px;

}

.title {
    font-size: 50px;
    font-weight: bold;
    padding-top: 20px;
}


